apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ba-app
  template:
    metadata:
      labels:
        app: ba-app
    spec:
      containers:
      - name: backend-container
        image: omarsa999/node-backendimage:latest
        ports:
        - containerPort: 3001
        env:
          - name: DB_HOST
            value: mysql
          - name: DB_USER
            value: root
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: MYSQL_ROOT_PASSWORD
          - name: DB_NAME
            valueFrom:
              configMapKeyRef:
                name: mysql-config
                key: MYSQL_DATABASE
        resources:
          limits:
            memory: "256Mi"
            cpu: "250m"
          requests:
            memory: "128Mi"
            cpu: "100m"

---

apiVersion: v1
kind: Service
metadata:
  name: ba-service
  namespace: default
  labels:
    app: ba-app
spec:
  selector:
    app: ba-app
  ports:
  - port: 3001
    targetPort: 3001
